{% extends 'base.html.twig' %}
{% block body %}
	<div class="homeHero">

		<div class="container">

			<div class="row">

				
				<div class="col-md-6">
					<div class="heroText">
						<h1>Voyagez ensemble, économisez plus, allez plus loin !</h1>
						<p>YallaCov connecte les voyageurs à travers la Tunisie pour un covoiturage sûr, abordable et pratique. Que ce soit pour le travail, des visites familiales ou la découverte de nouvelles villes, trouvez une place ou partagez votre voiture avec d'autres voyageurs. Ensemble, rendons chaque trajet plus agréable—parce que la route est toujours meilleure à plusieurs !</p>
					 
					</div>
				</div>

                <div class="col-md-6">
					<div class="heroContent">
						 
					</div>
				</div>

			</div>
		</div>


	</div>

{% endblock %}
