{% extends 'base.html.twig' %}
{% block body %}
	<div class="homeHero">

		<div class="container">

			<div class="row">


				<div class="col-md-6">
					<div class="heroText">
						<h1>Voyagez ensemble, économisez plus, allez plus loin !</h1>
						<p>YallaCov connecte les voyageurs à travers la Tunisie pour un covoiturage sûr, abordable et pratique. Que ce soit pour le travail, des visites familiales ou la découverte de nouvelles villes, trouvez une place ou partagez votre voiture avec d'autres voyageurs. Ensemble, rendons chaque trajet plus agréable—parce que la route est toujours meilleure à plusieurs !</p>

					</div>
				</div>

				<div class="col-md-6">
					<div class="heroSearchBox">
						<div class="boxWrapper" >
							<div class="tit">Vous recherchez un covoiturage ?</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>Lieu de départ:</label>
										<select class="form-control form-select-lg">
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											<option>5</option>
										</select>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label>Lieu de destination:</label>
										<select class="form-control form-select-lg">
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											<option>5</option>
										</select>
									</div>
								</div>

							</div>
							<div class="row">
								<div class="col-md-6">
                                
                               
									<div class="form-group">
										<label>Date de départ:</label>
										<input type="datetime-local"   class="  form-control">
									</div>
								 
                                
                                </div>
								<div class="col-md-6 d-flex">
                                <div class="btnHolder"><button type="button" class="btn btn-primary" >Recherche</button></div>
                                
                                </div>

							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
<script>
 
</script>

	</div>

{% endblock %}
