
:root {
    --primary-color: #2BD42B;
    --secondary-color: #FFF634;
    --success-color: #05b000;
    --info-color: #3498db;
    --warning-color: #f39c12;
    --danger-color: #e74c3c;
    --light-color: #ecf0f1;
    --dark-color: #384FBB;
    --primary-dark: hsl(146, 40%, 40%);
    --primary-light: hsl(146, 40%, 60%);
    --header-bg:#102585;
}
 
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}


.btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}


.btn-primary:hover, .btn-primary:focus {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
}
.btn-outline-secondary{
   color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn-info {
    background-color: var(--info-color);
    border-color: var(--info-color);
}

.btn-success {
    background-color: var(--primary-light);
    border-color: var(--primary-light);
}

.btn-warning {
    background-color: var(--warning-color);
    border-color: var(--warning-color);
}

.btn-danger {
    background-color: var(--danger-color);
    border-color: var(--danger-color);
}

 
.navbar {
    background-color: var(--primary-color);
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--light-color);
}

/* Alerts */
.alert-primary {
    background-color: var(--primary-color);
    color: #fff;
}


.alert-info {
    background-color: var(--info-color);
    color: #fff;
}

.alert-warning {
    background-color: var(--warning-color);
    color: #fff;
}

.alert-danger {
    background-color: var(--danger-color);
    color: #fff;
}

.progress-bar {
    background-color: var(--primary-color);
}

.footer {
    background-color: var(--secondary-color);
    color: #fff;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow: auto;
}

a {
    color: inherit;
    text-decoration: none;
}


/* header */

header {
    background: var(--header-bg);
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 75px;
    margin: auto;
    display: flex;
    align-items: center;
}
header .headerWrapper{
    display: flex;
    padding: 10px; 
    gap: 25px;
}

header .headerWrapper .logoHolder{
    width: 150px;
}

header .headerWrapper  .headerNavs{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .headerWrapper  .headerNavs .navTitles{
    display: flex;
    gap: 15px;
}
header .headerWrapper  .headerNavs .navTitles a {
display: block;
font-weight: 600;
color: #fff;
font-size: 18px;
}








/* ///////////// */

.contentWrapper{
    margin-top: 75px;
}
.contentWrapper .homeHero{
    background: url(../images/hero/b2.jpg) no-repeat center center/cover;
    height: calc(100vh - 75px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.contentWrapper .homeHero .heroText{
    text-align: left;
    text-shadow: 2px 2px 2px #1a1515d1;
}

.contentWrapper .homeHero .heroText p {
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}
.contentWrapper .homeHero .heroSearchBox{
    display: flex;
    height: 100%;
    background: #10258582;
    border-radius: 5px;
    padding: 25px;
    align-items: center;
    justify-content: center;
}

.contentWrapper .homeHero .heroSearchBox .boxWrapper{
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.contentWrapper .homeHero .heroSearchBox .boxWrapper .tit{
    font-size: 25px;
    font-weight: 700;
}


.contentWrapper .homeHero .heroSearchBox .boxWrapper label {

    font-size: 20px;
    margin-bottom: 15px;

}

.contentWrapper .homeHero .heroSearchBox .boxWrapper  .btnHolder{
    width: 100%;
    align-self: flex-end;
    text-align: end;
}



/* ///////////////////// */
.fullPage{
    min-height: calc(100vh - 75px);
    display: flex;
    align-items: center;
}
 
.listPageWrapper{ 
}
.listPageWrapper .banner{
    background: url(../images/banner.webp) no-repeat center center/cover;
    height: calc(100vh - 75px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 250px;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 4px 1px black;
}








.single-item {
    display: table;
    padding: 20px;
    background: #ffffff;
    border: solid 1px #dddddd;
    box-shadow: 3px 3px 9px rgba(164,164,186,0.2);
    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
}

.single-item .d-img, .single-item .d-info, .single-item .d-price{
    display: table-cell;
    vertical-align: middle;
}

.single-item .d-img{
    width:30%;
}

.single-item img{
    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    box-shadow: 3px 3px 9px rgba(164,164,186,.5);
    height: 200px;
} 

.single-item .d-info{
    width:40%;
    padding-left: 30px;
}

.single-item .d-price{
    width:30%;
    padding-left: 30px;
    text-align: center;
}
.single-item .d-price span{
    display: block;
    font-weight: bold;
    font-size: 28px;
    margin-bottom:10px;
    color:#222733;
}

.single-item .d-info img{
    width: 32px;
    height: 32px;
}

.single-item .d-info ul{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style: none;
    padding: 0;
}

.single-item .d-info ul li{
    font-size: 14px;
}

.single-item .d-info ul li span{
    font-weight: 600;
    margin-right: 10px;
}
