<header>

	<div class="container">

		<div class="headerWrapper">
			<div class="logoHolder">
				<img src="{{ asset('images/logo.svg') }}" alt="">
			</div>
			<div class="headerNavs">
				<div class="navTitles">


					<a href="http://">Home</a>
					<a href="http://">Parcourire</a>
					<a href="http://">Publier un Trajet</a>


				</div>
				<div class="authSection">
					<a href="http://" class="btn btn-outline-secondary">Se connecter</a>

					<a class="btn btn-primary" href="http://">S'inscrire</a>
				</div>
			</div>
		</div>
	</div>
</header>
